/* Need to modularize at some point */
/* Nearby component */
.nearby {
  font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  color: #2c2c2c;
  width: 814px;
}

/* Nearby header/title */
.nearby .block-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nearby .block-header .block-title {
  color: #000a12;
  font-size: 28px;
  font-weight: 700;
}

/* Nearby map placeholder */
.nearby .map-block {
  border-top: 1px solid #e5e5e5;
  padding-top: 32px;
  padding-bottom: 12px;
}
.nearby-map {
  height: 224px;
  width: 650px;
  background-color: #dddddd;
}

/* NearbyItems component */
.nearby-items {
  border-top: 1px solid #e5e5e5;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nearby-items .section-title {
  font-size: 20px;
}

/* NearbyItem component */
.nearby-item {
  color: #4a4a4a;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (max-width: 768px) {
  .nearby-item {
    display: flex;
    width: 645px;
  }
}

@media (min-width: 768px) {
  .nearby-item {
    display: inline-flex;
    width: 406px;
  }
}

.nearby-item .item-image {
  background-color: #4a4a4a;
  width: 94px;
  height: 94px;
  display: inline-block;
}

.nearby-item .item-column {
  display: inline-block;
  margin-top: 4px;
  padding-left: 16px;
}

.nearby-item .item-name {
  display: block;
}

.nearby-item .item-reviews {
  display: flex;
  vertical-align: middle;
  font-size: 12px;
  margin-top: 4px;
}

.nearby-item .review-bubbles {
  display: inline-flex;
  vertical-align: middle;
}

.nearby-item .item-reviews .review-count {
  margin-left: 5px;
  margin-top: 4px;
}

.nearby-item .item-distance {
  display: block;
  font-size: 12px;
  padding-top: 6px;
}